{
	auto_https off
	admin off
}

:80 {
	# reverse proxy websockets to the Mathesar admin service
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets mathesar:8000

	handle /health {
		respond "OK" 200
	}

	# forward other requests to the Mathesar admin service
	handle /* {
		reverse_proxy mathesar:8000
	}
}