{
	auto_https off
	admin off
}

:80 {
	# reverse proxy websockets to the data management service
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets data-management:5480

	# serve index.html for the root path
	handle / {
		file_server {
			root /srv/local-map
			index index.html
		}
	}

	handle /health {
		respond "OK" 200
	}

	# match static files and serve them directly
	@file file
	handle @file {
		file_server
	}

	# forward other requests to the data management service
	handle /* {
		reverse_proxy data-management:5480
	}
}